<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Rest:war exploded">
    <output-path>$PROJECT_DIR$/target/Spring_Rest</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Spring_Rest</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Rest_Security_Bycrypt" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.29" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.19.4" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5.5" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.19" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.4.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.4.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.4.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:5.4.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-acl:5.4.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.8" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/Spring_Rest/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring_Rest/web/Web" />
    </root>
  </artifact>
</component>